# Ignore all Python cache directories
__pycache__/

# Ignore Python bytecode
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore the plots folder inside notebooks
notebooks/plots/

# Ignore datasets
notebooks/datasets/

# (Optional) Ignore common image formats in that folder only
*.png
*.pdf
*.svg
*.tif
*.tiff

# Temporary files created by the cluster environment
**/=*